*{
    margin: 0px;
    padding: 0px;
}

html, body{

    background-color: darkgray;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1em;
}

header{
    background-color:black;
    color: white;
    text-align:center;
}

header > h1{

    padding-top: 50px;
    font-variant: small-caps;
    font-family:  'Passion One', cursive;
    font-size:10vh;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration:underline;
    
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height:2em;
    padding-left:30px;
    font-size:3.5vh;
}



.normal{
    background-color:white ;
    color: black;
}

.imagem{
    background-color:black;
    color: white;
}

.imagem > p{
   
    background-color:rgba(0, 0,0, 253);
}

footer{
    background-color:black;
    color: white;
    text-align: center;
    padding:10px;

}